.page-header
  %h1
    Patents that cite
    = doi

.row-fluid
  .span6.offset3
    %form.form-search.well{:style => 'text-align: center;'}
      %input.search-query#doi-text{:type => 'text', :placeholder => 'Enter a DOI...'}
      %button.btn.btn-primary#doi-search Search
:javascript
  $(document).ready(function() {
    $('#doi-search').click(function(e) {
      window.location = '/' + $('#doi-text').val();
      e.preventDefault();
      return false;
    });
    $('#doi-text').val('#{doi}');
  });
.row-fluid
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Patent
        %th Citation Text
        %th Match Type
    %tbody
      - citations.each do |citation|
        %tr
          %td
            - if citation['cambia'].nil?
              %a{:href => "http://beta.lens.org/lens/patent/#{citation['from']['id']}"}
                = citation['from']['id']
            - else
              %a{:href => "http://beta.lens.org/lens/patent/#{citation['cambia']['pub_key']}"}
                - if citation['cambia']['title'].empty?
                  = citation['from']['id']
                - else  
                  = citation['cambia']['title']
          %td= citation['citation']
          %td
            - if citation['field_match']
              %span.label.label-success Fielded match
            - elsif citation['likelihood']
              %span.label.label-warning 
                Full-text match (
                = citation['likelihood']
                confidence) 
